---
const { pathname, origin } = Astro.url;
---

<div
  class="font-serif uppercase flex flex-row justify-center flex-wrap gap-4 sm:gap-6 lg:gap-x-12 xl:gap-x-24 mb-4 sm:mb-8 lg:mb-16 text-base sm:text-lg md:text-2xl lg:text-5xl text-[#fde300]"
  style="text-shadow: 2px 2px 1px black;"
>
  <a href="/schedule/friday" class="schedule-card glass">
    <div class="flex flex-col items-center px-4 sm:px-6 lg:px-8 py-2 sm:py-3 lg:py-4 rounded-xl">
      <div>FRIDAY</div>
      <div class="text-base sm:text-xl lg:text-2xl">JAN 31</div>
    </div>
  </a>
  <a href="/schedule/saturday" class="schedule-card glass">
    <div class="flex flex-col items-center px-4 sm:px-6 lg:px-8 py-2 sm:py-3 lg:py-4 rounded-xl">
      <div>SATURDAY</div>
      <div class="text-base sm:text-xl lg:text-2xl">FEB 1</div>
    </div>
  </a>
  <a href="/schedule/sunday" class="schedule-card glass">
    <div class="flex flex-col items-center px-4 sm:px-6 lg:px-8 py-2 sm:py-3 lg:py-4 rounded-xl">
      <div>SUNDAY</div>
      <div class="text-base sm:text-xl lg:text-2xl">FEB 2</div>
    </div>
  </a>
</div>

<style>
    .glass {
        /* From https://css.glass */
        background: rgba(255, 255, 255, 0.4);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(0, 0, 0, 0.6);
    }

    .schedule-card {
        --a: 0.5deg;
        transform: perspective(400px) rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
        -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 100%/250% 250%;
        transition: all 0.3s;
        z-index: 50;
    }

    .schedule-card:hover {
        --i: -1;
        -webkit-mask-position: 0 0;
        transform: perspective(400px) rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a))) scale(1.03);
    }

    @media (max-width: 640px) {
        .schedule-card {
            --a: 0.25deg;
        }
    }
</style>