---
const { pathname, origin } = Astro.url;
---

<div
  class="font-serif uppercase flex flex-row justify-center flex-wrap gap-x-4 lg:gap-x-6 xl:gap-x-24 mb-8 lg:mb-16 text-lg lg:text-5xl text-[#fde300] "
  style="text-shadow: 3px 3px 1px black;"
>
  <div class="flex flex-col items-center glass px-8 py-4 rounded">
    <div>FRIDAY</div>
    <div class="text-2xl">JAN 31</div>
  </div>
  <div class="flex flex-col items-center glass px-8 py-4 rounded">
    <div>SATURDAY</div>
    <div  class="text-2xl">FEB 1</div>
  </div>
  <div class="flex flex-col items-center glass px-8 py-4 rounded">
    <div>SUNDAY</div>
    <div  class="text-2xl">FEB 2</div>
  </div>
</div>


<style>
    .glass {
        /* From https://css.glass */
background: rgba(255, 255, 255, 0.1);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    }
</style>