---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/flyer.png";
import img2 from "../assets/2024/av/HCTechnicalDifficulties-resize.gif";
import Footer from "../components/Footer.astro";

import mainBackground from "../assets/2025/bg/bricks.jpg";
const optimizedMainBackground = await getImage({
  src: mainBackground,
  format: "avif",
  width: 600,
});
---

<Layout title="HarmonyCon 2025 | 404">
  <div
    id="bg"
    class="overflow-hidden px-8 gap-y-8 flex flex-col items-center justify-center w-full h-screen"
  >
    <div
      style="filter: drop-shadow(0 3px 3px #000);"
      class="rounded-sm bg-white w-full sm:w-full md:w-4/5 lg:w-3/5 xl:w-2/5 p-1 border-[20px] sm:border-[16px] md:border-[20px] lg:border-[20px] xl:border-[24px] border-black"
    >
      <div style="filter: drop-shadow(0 1px 1px #000);">
        <!-- <Image src={img2} alt="404 Not Found" class="h-auto" /> -->
        <video
          aria-hidden="true"
          playsinline
          autoplay
          muted
          loop
          poster="/404.avif"
        >
          <source
            id="webm-source"
            src="/HCTechnicalDifficulties-ezgif.com-resize-video.webm"
            type="video/webm"
          />
        </video>
      </div>
    </div>
    <div style="text-shadow: 2px 2px 1px black;" class="text-8xl font-serif">
      404
    </div>
  </div>
  <Footer />
</Layout>

<style
  define:vars={{
    optimizedMainBackground: `url(${optimizedMainBackground.src})`,
  }}
>
  @media (min-width: 768px) {
    #bg {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      /* height: auto; */

      background-image: var(--optimizedMainBackground);
      background-repeat: repeat;
      background-size: 40%;
      background-position: 0px 0px;
      opacity: 1;
    }
  }
  @media (max-width: 768px) {
    #bg {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      /* height: auto; */

      background-image: var(--optimizedMainBackground);
      background-repeat: repeat;
      background-size: 150%;
      background-position: 0px 0px;
      opacity: 1;
    }
  }

  @media (max-width: 640px) {
    #bg {
      position: absolute;
      overflow: hidden;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      /* height: auto; */

      background-image: var(--optimizedMainBackground);
      background-repeat: repeat;
      background-size: 150%;
      background-position: 0px 0px;
      opacity: 1;
    }
  }
</style>
