---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/flyer.png";
---

<Layout title="HarmonyCon 2025 | Apply">
  <div class="bg-neutral-800"></div>
</Layout>
