---
import Layout from "../layouts/Layout.astro";
---

<Layout title="HarmonyCon 2025 | Credits">
    <canvas
    id="map"
    class="hidden xl:block fixed bottom-[25px] left-[25px] w-[100px] h-full z-50 rounded-none"
  ></canvas>
  <div class="bg-neutral-800 w-full h-full">

  </div>
</Layout>

<script>
  import pagemap from "pagemap";
  const pm = document.getElementById("map");
  if (pm) {
    pagemap(pm, {
      viewport: null,
      styles: {
        // "header,footer,section,article": "rgba(0,0,0,0.1)",
        footer: "rgba(0,0,0,0.5)",
        // "a,span": "rgba(0,0,0,0.35)",
        span: "rgba(0,0,0,0.3)",
        "h2,h3,h4,p,li": "rgba(0,0,0,0.15)",
      },
      back: "rgba(255, 255, 255,0.5)",
      view: "rgba(0,0,0,0.3)",
      drag: "rgba(0,0,0,0.5)",
      interval: null,
    });
  }
</script>