---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import cocBackground from "../assets/2025/bg/wood-black.jpg";
const optimizedCocBackground = await getImage({
  src: cocBackground,
  format: "webp",
  width: 2000
});

import paper from "../assets/2025/bg/paper.webp";
const optimizedPaper = await getImage({
  src: paper,
  format: "webp",
  width: 2000
});

---

<Layout title="HarmonyCon 2025 | Code of Conduct">
    <canvas
    id="map"
    class="hidden xl:block fixed bottom-[25px] left-[25px] w-[100px] h-full z-50 rounded-none"
  ></canvas>
  <div id="bg">
	</div>
  <div id="paper" 
  style="filter: drop-shadow(0 2px 2px #fff);" class="py-8 px-48 font-serif relative mx-auto mt-12 rounded w-288 bg-white h-full">
    <div class="text-center text-7xl uppercase">
      Rules
    </div>
    <div class="mt-8 text-center text-3xl uppercase">
      Act I: Code of Conduct
    </div>
    <div class="mt-4 text-center text-2xl uppercase underline underline-offset-4">
      Scene I: Prologue
    </div>
    <div class="mt-4 leading-tight text-xl font-mono">
      <div class="font-extrabold">
        These rules are subject to change at any time.
      </div>
      <div class="mt-4 text-2xl text-center">
        HARMONIC TUNE
      </div>
      <div class="mt-2">
        All attendees are assumed to have read and understand the rules and policies and agreed to them upon receiving a badge. Ignorance does not excuse breaking these rules. Anyone who accepts a membership badge agrees to indemnify and hold harmless HarmonyCon from any claim for personal injuries or other damages or equity arising out of any individual’s activities at HarmonyCon or its events, even if such injury or damage is caused by negligence by or on the part of HarmonyCon.
      </div>
      <div class="mt-4 text-2xl text-center">
        HARMONIC TUNE (cont'd)
      </div>
      <div class="mt-2 mb-8">
        HarmonyCon seeks to make its staff members available to all its attendees. Staff members will be wearing special badges to indicate their status. If you have a problem, please alert a staff member to the issue.
      </div>
    </div>
    <div class="mt-4 text-center text-2xl uppercase underline underline-offset-4">
      Scene II: General Rules
    </div>
    <div class="mt-8 text-center text-3xl uppercase">
      Act 2: Health and Safety
    </div>
    <div class="mt-8 text-center text-3xl uppercase">
      Act 3: Cosplay
    </div>
  </div>
</Layout>

<script>
  import pagemap from "pagemap";
  const pm = document.getElementById("map");
  if (pm) {
    pagemap(pm, {
      viewport: null,
      styles: {
        // "header,footer,section,article": "rgba(0,0,0,0.1)",
        footer: "rgba(0,0,0,0.5)",
        // "a,span": "rgba(0,0,0,0.35)",
        span: "rgba(0,0,0,0.3)",
        "h2,h3,h4,p,li": "rgba(0,0,0,0.15)",
      },
      back: "rgba(255, 255, 255,0.5)",
      view: "rgba(0,0,0,0.3)",
      drag: "rgba(0,0,0,0.5)",
      interval: null,
    });
  }
</script>

<style define:vars={{optimizedCocBackground: `url(${optimizedCocBackground.src})`, optimizedPaper: `url(${optimizedPaper.src})`}}>
  #bg {
    position: absolute;
  
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    /* height: auto; */
  
    background-image: var(--optimizedCocBackground);
    background-repeat: repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }

  #paper {
    background-image: var(--optimizedPaper);
    background-repeat: repeat;
    background-size: 60%;
    background-position: center;
    opacity: 1;
  }
  </style>