---
import { Image, getImage } from "astro:assets";
import Star from "../components/Star.astro";
import Layout from "../layouts/Layout.astro";

import galleryBackground from "../assets/2025/marble.webp";
const optimizedGalleryBackground = await getImage({
  src: galleryBackground,
  format: "webp",
  width: 2000
});
---

<Layout title="HarmonyCon 2025 | Credits">
	<div id="bg">
	</div>
	<div class="flex flex-col h-screen mt-16 gap-y-44">
		<div class="cursor-default font-serif uppercase text-center font-semibold text-6xl text-black z-10" style="text-shadow: 3px 3px 1px #999;" >
			Credits
		</div>
	</div>
</Layout>

<style define:vars={{optimizedGalleryBackground: `url(${optimizedGalleryBackground.src})`}}>
#bg {
	position: absolute;

	top: 0;
	left: 0;
	width: 100%;
		height: auto;
		min-height: 100%;
	/* height: auto; */

	background-image: var(--optimizedGalleryBackground);
	background-repeat: repeat;
	background-size: cover;
	background-position: center;
	opacity: 1;
}
</style>