---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/tune1.png";
import img2 from "../assets/2025/star1.png";
import img3 from "../assets/2025/logowithdates.png";
import img4 from "../assets/2025/registration_ticket_v2.png";
import img5 from "../assets/2025/enter_ticket_v2.png";
import img6 from "../assets/2025/isotext1.png";
import Footer from "../components/Footer.astro";

import curtains1 from "../assets/2025/curtain_full.png";
const optimizedCurtains1 = await getImage({
  src: curtains1,
  format: "webp",
  width: 2000,
});

import indexBackground from "../assets/2025/teaser.png";
const optimizedIndexBackground = await getImage({
  src: indexBackground,
  format: "webp",
  width: 2000,
});

console.log(optimizedIndexBackground.src);
---

<Layout title="HarmonyCon 2025">
  <div id="curtains" class="z-50">
    <div id="curtain-1"></div>
    <div id="curtain-2"></div>
  </div>
  <div id="mask" class="mask"></div>
  <div
    class="absolute bottom-16 right-16 text-3xl font-serif opacity-0 text-white"
    id="count"
  >
    1
  </div>
  <div
    id="dialogue"
    class="text-black absolute bottom-28 md:bottom-8 md:w-240 bg-neutral-300 opacity-0 left-0 right-0 md:mx-auto mx-4 rounded p-6 md:p-8"
  >
    <div class="font-semibold text-3xl md:text-3xl">Harmonic Tune</div>
    <div class="text-xl md:text-xl italic" id="text">
      Howdy! We're closed right now. Please come back later!
    </div>
  </div>
  <div id="snoot" class="hidden absolute w-40 h-40 left-[30%] bottom-[45%]">
  </div>
  <Footer />
</Layout>

<script>
  const mask = document.getElementById("mask");
  const start = new Date().getTime();
  document.addEventListener("pointermove", (pos) => {
    let x = parseInt((pos.clientX / window.innerWidth) * 100);
    let y = parseInt((pos.clientY / window.innerHeight) * 100);
    mask.style.setProperty("--mouse-x", x + "%");
    mask.style.setProperty("--mouse-y", y + "%");
  });

  let light = false;
  let count = 0;
  let addedBoop = false;
  let clickedBoop = false;
  let boops = 0;

  const playFlashlight = () => {
    setTimeout(() => {
      const magic = new Audio("/flashlight.mp3");
      magic.volume = 0.2;
      magic.play();
    }, 100);
  };

  document.addEventListener("click", () => {
    const footer = document.getElementById("footer");

    if (!footer.classList.contains("fade")) {
      footer.classList.add("fade");
    } else {
      footer.style.opacity = 0;
    }

    if (count >= 10) {
      // window.location.replace("https://www.youtube.com/watch?v=dQw4w9WgXcQ");
      document.getElementById("count").classList.add("fade-immediate");
    }

    if (!clickedBoop) {
      if (!light) {
        playFlashlight();
        document.getElementById("mask").classList.add("mask2");
        light = true;
      } else {
        playFlashlight();
        document.getElementById("mask").classList.remove("mask2");
        light = false;
      }
    }

    if (count >= 100) {
      document.body.style.backgroundImage = "url('/bar_temp1.webp')";
      mask.style.setProperty("--radius", "100vh");
      document.getElementById("snoot").style.display = "block";

      if (!addedBoop) {
        addedBoop = true;
        document.getElementById("snoot").addEventListener("click", () => {
          clickedBoop = true;

          document.getElementById("snoot").style.display = "none";
          boops++;
        });
      }
    }

    if (clickedBoop) {
      document.body.style.backgroundImage = "url('/bar_temp2.webp')";
      mask.classList.remove("mask");
      document.getElementById("dialogue").style.opacity = "80%";
      document.body.style.cursor = "default";

      document.getElementById("count").classList.remove("fade-immediate");
    }

    if (boops > 5) {
      document.getElementById("text").innerHTML =
        "Wow, you're an impatient fellow, aren't ya? Sorry, pardner — I appreciate the enthusiasm, but the shop's closed!";
    }

    count++;
    document.getElementById("count").innerHTML = count;
  });
</script>

<style
  lang="scss"
  define:vars={{
    optimizedIndexBackground: `url(${optimizedIndexBackground.src})`,
    optimizedCurtains1: `url(${optimizedCurtains1.src})`,
  }}
>
  :root {
    --sine: linear(
      0,
      0.007 5.35%,
      0.0282 10.75%,
      0.0638 16.26%,
      0.1144 21.96%,
      0.1833 28.16%,
      0.2717 34.9%,
      0.6868 62.19%,
      0.775 68.54%,
      0.8457 74.3%,
      0.9141 81.07%,
      0.9621 87.52%,
      0.9905 93.8%,
      1
    );

    --mouse-x: 50%;
    --mouse-y: 50%;
    --radius: 150px;
  }
  body {
    margin: 0;
    height: 100vh;
    /* background-image: url(https://since1979.dev/wp-content/uploads/2022/01/todd-quackenbush-x5SRhkFajrA-unsplash.jpg); */
    /* background-image: var(--optimizedIndexBackground); */
    background-image: url("/teaserfull2.webp");
    background-position: center center;
    background-size: cover;

    cursor: none;
  }

  .mask {
    width: 100vw;
    height: 100vh;
    background-color: hsla(0, 0%, 0%, 1);
  }
  .mask2 {
    mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 20px,
      black var(--radius)
    );
    -webkit-mask: radial-gradient(
      circle at var(--mouse-x) var(--mouse-y),
      transparent 20px,
      black var(--radius)
    );
  }

  .fade-immediate {
    opacity: 0;
    animation: fadeIn 2s cubic-bezier(0.77, 0.01, 0.25, 1) 0s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  #curtains {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #curtain-1,
  #curtain-2 {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    background-color: #000;
  }

  #curtain-1 {
    position: absolute;
    left: 0;
    top: 0;
    transform: translateX(-100%);
    animation-name: slide-left;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-direction: alternate;
    background-image: var(--optimizedCurtains1);
    background-size: cover;
  }

  #curtain-2 {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    animation-name: slide-right;
    animation-duration: 1.2s;
    animation-delay: 0s;
    animation-direction: alternate;
    background-image: var(--optimizedCurtains1);
    background-size: cover;
  }

  @keyframes slide-left {
    0%,
    40% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  @keyframes slide-right {
    0%,
    40% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(100%);
    }
  }
</style>
