---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import registerBackground from "../assets/2025/bg/bar_final_2.png";
const optimizedRegisterBackground = await getImage({
  src: registerBackground,
  format: "avif",
  width: 1920,
});
import Footer from "../components/Footer.astro";
---

<Layout
  title="HarmonyCon 2025 | Register"
  desktopOverflow="false"
  mobileOverflow="true"
>
  <div id="bg" class="overflow-x-hidden">
    <div
      class="text-black absolute bottom-28 md:bottom-8 md:w-240 bg-neutral-300 opacity-90 left-0 right-0 md:mx-auto mx-4 rounded p-6 md:p-8"
    >
      <div class="font-semibold text-3xl md:text-3xl">Harmonic Tune</div>
      <div class="text-xl md:text-xl italic">
        Howdy, pardner! What'll it be?
      </div>
    </div>
    <div
      style="filter: drop-shadow(0 15px 15px #000);"
      class="flex flex-col gap-y-3 md:gap-y-4 text-[#fde300] font-serif md:absolute md:top-8 md:right-[15%] mx-4 md:mt-0 mt-12 md:mx-auto md:w-160 h-[calc(100vh-20rem)] md:h-2/3 bg-black border-yellow-200 border-4 opacity-70 md:opacity-90 rounded-lg p-4 md:p-8"
    >
      <div class="text-center uppercase text-3xl md:text-5xl">
        HarmonyCon 2025
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <div class="uppercase text-xl md:text-3xl flex justify-between">
            <div>3 Day Attendee</div>
            <div>$60</div>
          </div>
          <ul class="hidden text-lg">
            <li>3-Day Con Admission</li>
            <li>Coltchella Admission</li>
            <li>Convention Booklet</li>
            <li>Sponsor Priority Line for Mane Events</li>
            <li>Show Pony Badge Art</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <div class="uppercase text-xl md:text-3xl flex justify-between">
            <div>1 Day Attendee (Fri/Sat)</div>
            <div>$35</div>
          </div>
          <ul class="hidden text-lg">
            <li>3-Day Con Admission</li>
            <li>Coltchella Admission</li>
            <li>Convention Booklet</li>
            <li>Sponsor Priority Line for Mane Events</li>
            <li>Show Pony Badge Art</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <div class="uppercase text-xl md:text-3xl flex justify-between">
            <div>1 Day Attendee (Sun)</div>
            <div>$25</div>
          </div>
          <ul class="hidden text-lg">
            <li>3-Day Con Admission</li>
            <li>Coltchella Admission</li>
            <li>Convention Booklet</li>
            <li>Sponsor Priority Line for Mane Events</li>
            <li>Show Pony Badge Art</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <div class="uppercase text-xl md:text-3xl flex justify-between">
            <div>Teen (Age 13-17)</div>
            <div>$30</div>
          </div>
          <ul class="hidden text-lg">
            <li>3-Day Con Admission</li>
            <li>Coltchella Admission</li>
            <li>Convention Booklet</li>
            <li>Sponsor Priority Line for Mane Events</li>
            <li>Show Pony Badge Art</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <div class="uppercase text-xl md:text-3xl flex justify-between">
            <div>Child (Age 3-12)</div>
            <div>$20</div>
          </div>
          <ul class="hidden text-lg">
            <li>3-Day Con Admission</li>
            <li>Coltchella Admission</li>
            <li>Convention Booklet</li>
            <li>Sponsor Priority Line for Mane Events</li>
            <li>Show Pony Badge Art</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <div class="uppercase text-xl md:text-3xl flex justify-between">
            <div>Show Pony</div>
            <div>$125</div>
          </div>
          <ul class="hidden text-lg">
            <li>3-Day Con Admission</li>
            <li>Coltchella Admission</li>
            <li>Convention Booklet</li>
            <li>Sponsor Priority Line for Mane Events</li>
            <li>Show Pony Badge Art</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <div class="uppercase text-xl md:text-3xl flex justify-between">
            <div>Lead Singer</div>
            <div>$350</div>
          </div>
          <ul class="hidden text-lg">
            <li>3-Day Con Admission</li>
            <li>Coltchella Admission</li>
            <li>Convention Booklet</li>
            <li>Sponsor Priority Line for Mane Events</li>
            <li>Show Pony Badge Art</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <div class="uppercase text-xl md:text-3xl flex justify-between">
            <div>Producer</div>
            <div>$650</div>
          </div>
          <ul class="hidden text-lg">
            <li>3-Day Con Admission</li>
            <li>Coltchella Admission</li>
            <li>Convention Booklet</li>
            <li>Sponsor Priority Line for Mane Events</li>
            <li>Show Pony Badge Art</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <div class="uppercase text-xl md:text-3xl flex justify-between">
            <div>Executive Producer</div>
            <div>$2000</div>
          </div>
          <ul class="hidden text-lg">
            <li>3-Day Con Admission</li>
            <li>Coltchella Admission</li>
            <li>Convention Booklet</li>
            <li>Sponsor Priority Line for Mane Events</li>
            <li>Show Pony Badge Art</li>
          </ul>
        </div>
      </div>
      <div class="flex flex-col gap-y-4">
        <div>
          <div class="uppercase text-xl md:text-3xl flex justify-between">
            <div>Executive Producer</div>
            <div>$5000</div>
          </div>
          <ul class="hidden text-lg">
            <li>3-Day Con Admission</li>
            <li>Coltchella Admission</li>
            <li>Convention Booklet</li>
            <li>Sponsor Priority Line for Mane Events</li>
            <li>Show Pony Badge Art</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <Footer />
</Layout>

<style
  define:vars={{
    optimizedRegisterBackground: `url(${optimizedRegisterBackground.src})`,
  }}
>
  @media (max-width: 768px) {
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;

      background-image: var(--optimizedRegisterBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 25% 70px;
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;

      background-image: var(--optimizedRegisterBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
    }
  }
</style>
