---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/flyer.png";
import Exit from "../components/Exit.astro";
---

<Layout title="HarmonyCon 2025 | Register">
	<div id="bg"></div>
	<!-- <div id="fg"></div> -->
	<div class="absolute bottom-0 w-full h-72 bg-neutral-300 opacity-90 left-0 p-8">
		<div class="italic text-3xl">
			Harmonic Tune
		</div>
		<div class="text-xl">
			What'll it be, partner?
		</div>
	</div>
</Layout>

<style>
	#bg {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("/flyer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }

	#fg {
    position: absolute;
    
    bottom: 0;
		right: 12.5%;
    width: 75%;
    height: 90%;

    background-image: url("../src/assets/2025/flyer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
</style>