---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/flyer.png";
import Exit from "../components/Exit.astro";
---

<Layout title="HarmonyCon 2025 | Register"  desktopOverflow="false" mobileOverflow="true">
	<div id="bg"></div>
	<!-- <div id="fg"></div> -->
	<div class="absolute bottom-8 w-240 h-1/6 bg-neutral-300 opacity-90 left-0 right-0 mx-auto rounded p-8">
		<div class="font-semibold text-3xl">
			Harmonic Tune
		</div>
		<div class="text-xl italic">
			Howdy, pardner~! You enjoying the night?
		</div>
	</div>
</Layout>

<style>
	#bg {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
		height: auto;
		min-height: 100%;

    background-image: url("../bar_temp1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }

	#fg {
    position: absolute;
    
    bottom: 0;
		right: 12.5%;
    width: 75%;
    height: 90%;

    background-image: url("../src/assets/2025/flyer.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
</style>