---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/flyer.png";
import Exit from "../components/Exit.astro";

import registerBackground from "../assets/2025/bg/bar_temp2.png";
const optimizedRegisterBackground = await getImage({
  src: registerBackground,
  format: "webp",
  width: 2000
});
---

<Layout title="HarmonyCon 2025 | Register"  desktopOverflow="false" mobileOverflow="true">
	<div id="bg"></div>
	<!-- <div id="fg"></div> -->
	<div class="absolute bottom-8 w-240 h-1/6 bg-neutral-300 opacity-90 left-0 right-0 mx-auto rounded p-8">
		<div class="font-semibold text-3xl">
			Harmonic Tune
		</div>
		<div class="text-xl italic">
			Howdy, pardner! What'll it be?
		</div>
	</div>
  <div style="filter: drop-shadow(0 15px 15px #000);" class="flex flex-col gap-y-4 text-yellow-200 font-serif absolute top-8 right-[15%] w-160 h-2/3 bg-black border-yellow-200 border-4 opacity-90 mx-auto rounded-lg p-8">
		<div class="text-center uppercase text-5xl">
      HarmonyCon 2025
    </div>
    <div class="flex flex-col gap-y-4">
      <div>
        <div class="uppercase text-3xl flex justify-between">
          <div class="italic">Filly Elliot</div>
          <div>$125</div>
        </div>
        <ul class="hidden text-lg">
          <li>
            3-Day Con Admission
          </li>
          <li>
            Coltchella Admission
          </li>
          <li>
            Convention Booklet
          </li>
          <li>
            Sponsor Priority Line for Mane Events
          </li>
          <li>
            Show Pony Badge Art
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col gap-y-4">
      <div>
        <div class="uppercase text-3xl flex justify-between">
          <div class="italic">Hoofloose</div>
          <div>$350</div>
        </div>
        <ul class="hidden text-lg">
          <li>
            3-Day Con Admission
          </li>
          <li>
            Coltchella Admission
          </li>
          <li>
            Convention Booklet
          </li>
          <li>
            Sponsor Priority Line for Mane Events
          </li>
          <li>
            Show Pony Badge Art
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col gap-y-4">
      <div>
        <div class="uppercase text-3xl flex justify-between">
          <div class="italic">The Sound of Magic</div>
          <div>$650</div>
        </div>
        <ul class="hidden text-lg">
          <li>
            3-Day Con Admission
          </li>
          <li>
            Coltchella Admission
          </li>
          <li>
            Convention Booklet
          </li>
          <li>
            Sponsor Priority Line for Mane Events
          </li>
          <li>
            Show Pony Badge Art
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col gap-y-4">
      <div>
        <div class="uppercase text-3xl flex justify-between">
          <div class="italic">Les Mare-sérables</div>
          <div>$1,000</div>
        </div>
        <ul class="hidden text-lg">
          <li>
            3-Day Con Admission
          </li>
          <li>
            Coltchella Admission
          </li>
          <li>
            Convention Booklet
          </li>
          <li>
            Sponsor Priority Line for Mane Events
          </li>
          <li>
            Show Pony Badge Art
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col gap-y-4">
      <div>
        <div class="uppercase text-3xl flex justify-between">
          <div class="italic">Pony of the Opera</div>
          <div>$2,000</div>
        </div>
        <ul class="hidden text-lg">
          <li>
            3-Day Con Admission
          </li>
          <li>
            Coltchella Admission
          </li>
          <li>
            Convention Booklet
          </li>
          <li>
            Sponsor Priority Line for Mane Events
          </li>
          <li>
            Show Pony Badge Art
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col gap-y-4">
      <div>
        <div class="uppercase text-3xl flex justify-between">
          <div class="italic">Mare-y Poppins</div>
          <div>$5,000</div>
        </div>
        <ul class="hidden text-lg">
          <li>
            3-Day Con Admission
          </li>
          <li>
            Coltchella Admission
          </li>
          <li>
            Convention Booklet
          </li>
          <li>
            Sponsor Priority Line for Mane Events
          </li>
          <li>
            Show Pony Badge Art
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col gap-y-4">
      <div>
        <div class="uppercase text-3xl flex justify-between">
          <div class="italic">Mean Mares</div>
          <div>$20,000</div>
        </div>
        <ul class="hidden text-lg">
          <li>
            3-Day Con Admission
          </li>
          <li>
            Coltchella Admission
          </li>
          <li>
            Convention Booklet
          </li>
          <li>
            Sponsor Priority Line for Mane Events
          </li>
          <li>
            Show Pony Badge Art
          </li>
        </ul>
      </div>
    </div>
	</div>
</Layout>

<style define:vars={{optimizedRegisterBackground: `url(${optimizedRegisterBackground.src})`}}>
	#bg {
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
		height: auto;
		min-height: 100%;

    background-image: var(--optimizedRegisterBackground);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 1;
  }
</style>