---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import img1 from "../assets/2025/flyer.png";
---

<Layout title="HarmonyCon 2025 | Register">
	<div class="bg-neutral-800">
		<a href="/" 
		class="w-1/2">
			<Image
				alt="Harmony"
				src={img1}
				width={1200}
				class="w-full h-full"
			/>
		</a>
	</div>
</Layout>