<div class="p-2">
    <a href="/main"><-Back</a>

    <h1 class="mt-4">STAFF</h1>

    <div>
        Convention Chair: Pepper
    </div>
    <div>
        Vice Chair: Luck Rock
    </div>
    
    <div>
        <h2>AV:</h2>
        Midnight Lightning, Blazingcurent, electronicsfreak, Broken Skies, CrazywattCaptain, Winchester572, Benny, Lightning Sky, ShockwaveV88, Bassblitzed, Dashford, halofeeder, Greasy, Cute-Izzy, lupu, Faulty, ocRainStorm, Mindy, DayBat, Raven Horn, rainbowderpy, Adorkalblue, Jorge, BrambleShadow, Tea Cop, Jesse, Kayla, Gingerfrizz, ThunderBat, Artix
    </div>

    <div>
        <h2>IT:</h2>
        15, Kahas
    </div>

    <div>
        <h2>Safety:</h2>
        Compound, zemming, Dylan, Ian, LineMonkey, Darthshadow25, Sunup Howdy, Home Slice, Blue Skies, Jesusfeathers, Reggiekrueger, Crisom Chun
    </div>

    <div>
        <h2>Registration:</h2>
        FloorHoof, Vincent, Casper, Cora, Pepper, mousesocks, Penguineye2, Mignon, King, Note Worthy, Fluffyghost
    </div>

    <div>
        <h2>Con Store:</h2>
        Simply_Knezdy, Lahitdah, Helicity, Lemon the Dutchie, Agent Bright
    </div>

    <div>
        <h2>Concert:</h2>
        Koa
    </div>

    <div>
        <h2>Public Relations:</h2>
        Thoth Penswell
    </div>

    <div>
        <h2>Vendor Hall:</h2>
        Bernd
    </div>

    <div>
        <h2>Consultant:</h2>
        Thomas Revor
    </div>

    <div>
        <h2>Events:</h2>
        QuiltDawn, OceanBreeze, Kissy, Coastal, Decora, Ka3, BuckyND, 41 Cyrus in a Trenchcoat, Nevalin, Dr. Romulus
    </div>

    <div>
        <h2>Tabletop:</h2>
        Elinwood Sain, undead_rattler, NightLight, Swiftbow Deadeye, Palattelip, Llisandur
    </div>

    <div>
        <h2>Video Games:</h2>
        Winds Requiem, Jasper Smith, wowyfandoms, Sonic the Headgehog, ItsJustDashu
    </div>

    <div>
        <h2>VIPR:</h2>
        Cricket, Jeff, KrilliK, Applegeek, BraveryTheBrony, Shadow Streak, Coach, SacredNight, Drea, Sparrow, code807, B.B. Wolf
    </div>

    <div>
        <h2>Operations:</h2>
        S.G.T Ardent, Grissess, Specatron, LastWolfie, Freelancer, Llisandur, Princess Cadance
    </div>

    <div>
        <h2>Venue Liaison:</h2>
        Weog, Flightwatch
    </div>

    <div>
        <h2>Design:</h2>
        Brittney Ackerman (LBRCloud), SaphyMeon, WindyKirin, CrimxHarmony, NekoSnicker, Gobiraptor, BluefeatherCat, Oonles, Beardie, Bobby Seas
    </div>

    <div>
        <h2>Charity:</h2>
        Loopy Logic
    </div>

    <div>
        <h2>Logistics:</h2>
        Desert
    </div>

    <div>
        <h2>Conbook:</h2>
        Brittney Ackerman (LBRCloud)
    </div>
</div>

<style>
    a {
        @apply text-[#0000FF] hover:underline;
    }

    h1 {
        @apply text-6xl font-bold;
    }

    h2 {
        @apply text-xl font-bold mt-4;
    }
</style>