---
import { Image, getImage } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import cocBackground from "../assets/2025/bg/stage3.png";
const optimizedCocBackground = await getImage({
  src: cocBackground,
  format: "avif",
  width: 2000,
});

import venue1 from "../assets/2025/venue/HarmonyConVenue1.png";
import venue2 from "../assets/2025/venue/HarmonyConAssetsVenue2-2.png";
import venue3 from "../assets/2025/venue/Hyatt-Regency-Dallas-P180-Pegasus-Ballroom-Theater.16x9.webp";

import Footer from "../components/Footer.astro";
---

<Layout title="HarmonyCon 2025 | Vendors">
  <div id="bg" class="flex flex-col justify-between">
    <div class="flex flex-col items-center justify-center my-auto gap-y-12">
      <div class="flex flex-col md:flex-row">
        <div
          class="card1 p-1 bg-white border-8 border-black w-84 lg:w-120 xl:w-144 -rotate-3 rounded-lg drop-shadow-2xl"
        >
          <Image
            src={venue3}
            alt="Hyatt Regency Pegasus Ballroom"
            width={800}
            format="avif"
            class="w-full"
          />
        </div>
        <div
          class="card2 p-1 bg-white border-8 border-black md:my-0 -my-16 sm:-my-12 mx-0 md:-mx-24 lg:-mx-48 w-84 lg:w-120 xl:w-144 rotate-6 rounded-lg drop-shadow-2xl"
        >
          <Image
            src={venue2}
            alt="Hyatt Regency Cumberland Hall"
            width={800}
            format="avif"
            class="w-full"
          />
        </div>
        <div
          class="card3 p-1 bg-white border-8 border-black w-84 lg:w-120 xl:w-144 rotate-1 rounded-lg drop-shadow-2xl"
        >
          <Image
            src={venue1}
            alt="Hyatt Regency Cafe"
            width={800}
            format="avif"
            class="w-full"
          />
        </div>
      </div>
      <div
        class="flex flex-col text-center items-center mb-12 sm:mb-0"
        style="filter: drop-shadow(0 2px 2px #000);"
      >
        <div
          class="text-yellow-200 text-4xl sm:text-5xl md:text-6xl uppercase font-serif"
          style="text-shadow: 3px 3px 1px #000;"
        >
          Hyatt Regency Dallas
        </div>
        <div
          class="text-yellow-200 text-lg md:text-2xl uppercase font-serif mb-8"
          style="text-shadow: 2px 2px 1px #000;"
        >
          300 Reunion Blvd, Dallas, TX 75207
        </div>
        <div class="flex justify-center gap-x-8">

          <a
            href="https://www.hyatt.com/en-US/group-booking/DFWRD/G-HMNY"
            target="_blank"
            class="active bg-yellow-200 hover:bg-yellow-300 duration-300 md:py-2 md:px-8 py-1 px-4 rounded text-black w-auto text-2xl md:text-3xl uppercase font-serif"
          >
            Book now
          </a>
          <a
            href="/Floor_layout.png"
            target="_blank"
            class="active bg-yellow-200 hover:bg-yellow-300 duration-300 md:py-2 md:px-8 py-1 px-4 rounded text-black w-auto text-2xl md:text-3xl uppercase font-serif"
          >
            Venue map
          </a>
        </div>
      </div>
    </div>
    <Footer />
  </div>

  <style
    define:vars={{
      optimizedCocBackground: `url(${optimizedCocBackground.src})`,
    }}
  >
    .active {
      --a: 0deg; /* control the angle of rotation (the smaller, the better) */
      transform: perspective(100px)
        rotate3d(var(--r, 1, -1), 0, calc(var(--i, 1) * var(--a)));
      -webkit-mask: linear-gradient(135deg, #000c 40%, #000, #000c 60%) 100% 0%/250%
        250%;
      transition: 0.4s;
      /* animation:
      jump 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 2s forwards,
      rotating 4s var(--sine) 0s infinite forwards; */

      z-index: 50;
    }

    .active:hover {
      --i: -1;
      -webkit-mask-position: 0 0;
    }
    :root {
      --elastic: linear(
        0,
        0.0009 8.51%,
        -0.0047 19.22%,
        0.0016 22.39%,
        0.023 27.81%,
        0.0237 30.08%,
        0.0144 31.81%,
        -0.0051 33.48%,
        -0.1116 39.25%,
        -0.1181 40.59%,
        -0.1058 41.79%,
        -0.0455,
        0.0701 45.34%,
        0.9702 55.19%,
        1.0696 56.97%,
        1.0987 57.88%,
        1.1146 58.82%,
        1.1181 59.83%,
        1.1092 60.95%,
        1.0057 66.48%,
        0.986 68.14%,
        0.9765 69.84%,
        0.9769 72.16%,
        0.9984 77.61%,
        1.0047 80.79%,
        0.9991 91.48%,
        1
      );

      --sine: linear(
        0,
        0.007 5.35%,
        0.0282 10.75%,
        0.0638 16.26%,
        0.1144 21.96%,
        0.1833 28.16%,
        0.2717 34.9%,
        0.6868 62.19%,
        0.775 68.54%,
        0.8457 74.3%,
        0.9141 81.07%,
        0.9621 87.52%,
        0.9905 93.8%,
        1
      );
    }
    #bg {
      position: absolute;

      top: 0;
      left: 0;
      width: 100%;
      height: auto;
      min-height: 100%;
      background-image: var(--optimizedCocBackground);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      opacity: 1;
    }

    .card1 {
      animation:
      /* reveal 0.7s cubic-bezier(0.5, 0.1, 0.1, 1) 0.6s forwards,
      zoom 0.75s ease-out 0.6s forwards, */ floating1
        4s var(--sine) 0s infinite forwards;
    }

    .card2 {
      animation:
      /* reveal 0.7s cubic-bezier(0.5, 0.1, 0.1, 1) 0.8s forwards,
      zoom 0.75s ease-out 0.9s forwards, */ floating2
        5s var(--sine) 0.4s infinite forwards;
    }

    .card3 {
      animation:
      /* reveal 0.7s cubic-bezier(0.5, 0.1, 0.1, 1) 1s forwards,
      zoom 0.75s ease-out 1.2s forwards, */ floating3
        4.5s var(--sine) 0.8s infinite forwards;
    }

    @keyframes reveal {
      from {
        /* bottom: -150vh; */
        opacity: 1;
        transform: translateY(-300%);
      }
      to {
        opacity: 1;
        transform: translateY(0%);
      }
    }
    @keyframes zoom {
      from {
        rotate: 10deg;
        scale: 1;
      }
      to {
        rotate: -0.3deg;
        scale: 1;
      }
    }

    @keyframes floating1 {
      0% {
        translate: 0px 0px;
      }
      50% {
        translate: 0px 6px;
      }
      100% {
        translate: 0px 0px;
      }
    }

    @keyframes floating2 {
      0% {
        translate: 0px 0px;
      }
      50% {
        translate: 0px -6px;
      }
      100% {
        translate: 0px 0px;
      }
    }

    @keyframes floating3 {
      0% {
        translate: 0px 0px;
      }
      50% {
        translate: 0px 5px;
      }
      100% {
        translate: 0px 0px;
      }
    }
  </style>
</Layout>
