---
import { Image } from "astro:assets";
const { src, alt, time="" } = Astro.props;
---

<div class="text-center flex flex-col items-center relative">
  <Image src={src}
    format="avif"
    height={400}
    alt={alt}
    class="object-cover bg-white rounded-none border-4 border-[#EFBF04] w-64 h-64 z-0"
  >
  </Image>
  <div class="h-8 flex justify-center text-2xl font-semibold uppercase font-serif text-white mt-4 tracking-wide leading-none" 
  style="text-shadow: 3px 3px 1px #000;">
    {alt}
  </div>
  <div class="absolute right-0 bottom-16 rotate-3 bg-red-100 text-black px-4 py-2 rounded-sm uppercase font-semibold" 
  style="filter: drop-shadow(0 2px 2px #000);">
    {time}
  </div>
</div>