---
import { Image } from "astro:assets";
import exit from "../assets/2025/exit.png";
---
  <a href="/main" class="bg-black opacity-70 hover:opacity-100 duration-500  rounded flex items-center justify-center">
    <Image src={exit} alt="Back" width={400} class="w-48 h-auto"/>
  </a>