---
import { Image } from "astro:assets";
import exit from "../assets/2025/exit.png";
---
  <a href="/main" class="opacity-60 hover:opacity-100 duration-500 flex items-center justify-center">
    <Image src={exit} alt="Back" width={400} class="border-4 border-green-300  w-48 h-auto rounded-lg"/>
  </a>

   <style></style>