---
import { Image } from "astro:assets";
import exit from "../assets/exit.png";
---
  <a href="/main" class=" hover:-rotate-2 duration-300 hover:bg-gray-300 bg-gray-100 rounded p-4 flex items-center justify-center">
    <Image src={exit} alt="Back" width={100} class="w-32 h-auto"/>
  </a>