---
import { Icon } from "astro-icon/components";

const { pathname } = Astro.url;

const textColor =
  pathname.includes("main") || pathname.includes("gallery")
    ? "text-yellow-300"
    : "text-white";

const isMainPage = pathname === "/";
---

<footer
  class={`z-0 ${isMainPage ? "absolute fade" : "relative"} md:absolute bottom-0 drop-shadow-[0_4px_4px_rgba(0,0,0,0.6)]  mt-auto cursor-default px-0 sm:px-8 md:px-20 lg:px-32 w-full flex flex-col sm:flex-row justify-center sm:justify-between md:gap-x-0 gap-x-12 gap-y-2 md:justify-between items-center h-24 sm:h-10  ${textColor}`}
>
  <div class="flex items-center justify-center">
    <div
      class="flex items-center justify-center gap-x-4 sm:gap-x-4 md:gap-x-4 lg:gap-x-4 xl:gap-x-8"
    >
      <a
        href="https://harmonycon.org/"
        style="text-shadow: 2px 2px 1px black;"
        class="whitespace-nowrap text-lg md:text-base duration-300 flex items-center relative font-medium tracking-wide"
      >
        © 2025 HarmonyCon LLC
      </a>
      <!-- <div class="border border-r-1 rounded-lg h-6"></div>
      <a
        href="/coc"
        class="hover:underline underline-offset-4 flex items-center relative font-medium tracking-wide"
      >
        Code of Conduct
      </a> -->
    </div>
  </div>
  <div
    class="flex items-center justify-center gap-x-4 sm:gap-x-2 md:gap-x-2 lg:gap-x-3 xl:gap-x-3"
  >
    <!-- <div class="border border-r-1 rounded-lg h-6"></div> -->

    <a
      href="https://x.com/HarmonyPonyCon"
      target="_blank"
      class="md:text-xl text-3xl text-[#1DA1F2] hover:scale-[1.1] hover:underline hover:-rotate-12 p-1 rounded duration-300 underline-offset-4 flex items-center relative font-medium tracking-wide justify-center"
    >
      <Icon
        name="mdi:twitter"
        style="animation: floating 4s var(--sine) 0s infinite forwards;"
      />
    </a>
    <a
      href="https://www.youtube.com/channel/UCp0Av2HVAdsgZn3VSmJYdKg"
      target="_blank"
      class="md:text-xl text-3xl text-[#FF0000] hover:scale-[1.1] hover:underline hover:rotate-12 p-1 rounded duration-300 underline-offset-4 flex items-center relative font-medium tracking-wide justify-center"
    >
      <Icon
        name="mdi:youtube"
        style="animation: floating 4s var(--sine) 0.6s infinite forwards;"
      />
    </a>
    <a
      href="https://www.facebook.com/HarmonyConDallas/"
      target="_blank"
      class="md:text-xl text-3xl text-[#4267B2] hover:scale-[1.1] hover:underline hover:-rotate-12 p-1 rounded duration-300 underline-offset-4 flex items-center relative font-medium tracking-wide justify-center"
    >
      <Icon
        name="mdi:facebook"
        style="animation: floating 4s var(--sine) 1.2s infinite forwards;"
      />
    </a>
    <a
      href="https://www.instagram.com/HarmonyPonyCon/"
      target="_blank"
      class="md:text-xl text-3xl text-[#C13584] hover:scale-[1.1] hover:underline hover:rotate-12 p-1 rounded duration-300 underline-offset-4 flex items-center relative font-medium tracking-wide justify-center"
    >
      <Icon
        name="mdi:instagram"
        style="animation: floating 4s var(--sine) 1.8s infinite forwards;"
      />
    </a>
    <a
      href="https://www.twitch.tv/harmonycon"
      target="_blank"
      class="md:text-xl text-3xl text-[#6441a5] hover:scale-[1.1] hover:underline hover:rotate-12 p-1 rounded duration-300 underline-offset-4 flex items-center relative font-medium tracking-wide justify-center"
    >
      <Icon
        name="mdi:twitch"
        style="animation: floating 4s var(--sine) 2.4s infinite forwards;"
      />
    </a>
    <a
      href="https://discord.com/invite/UWSFnwz"
      target="_blank"
      class="md:text-xl text-3xl text-[#7289da] hover:scale-[1.1] hover:underline hover:rotate-12 p-1 rounded duration-300 underline-offset-4 flex items-center relative font-medium tracking-wide justify-center"
    >
      <Icon
        name="ic:baseline-discord"
        style="animation: floating 4s var(--sine) 3.0s infinite forwards;"
      />
    </a>
  </div>
</footer>

<style>
  :root {
    --sine: linear(
      0,
      0.007 5.35%,
      0.0282 10.75%,
      0.0638 16.26%,
      0.1144 21.96%,
      0.1833 28.16%,
      0.2717 34.9%,
      0.6868 62.19%,
      0.775 68.54%,
      0.8457 74.3%,
      0.9141 81.07%,
      0.9621 87.52%,
      0.9905 93.8%,
      1
    );
  }

  a {
    @apply font-serif;
  }

  .glass {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
  }

  @keyframes floating {
    0% {
      transform: translate(0, 0) rotate(2deg);
    }
    50% {
      transform: translate(0, -3px) rotate(-2deg);
    }
    100% {
      transform: translate(0, 0) rotate(2deg);
    }
  }

  .fade {
    opacity: 0;
    animation: fadeIn 1.2s cubic-bezier(0.77, 0.01, 0.25, 1) 2.8s forwards;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
</style>
