---
---

<footer
  class="absolute bottom-0 w-full h-8 bg-black text-white left-0 right-0 flex items-center"
>
  <div class="flex items-center justify-center">
    <div
      class="flex items-center justify-center gap-x-4 sm:gap-x-4 md:gap-x-4 lg:gap-x-4 xl:gap-x-8"
    >
      <a
        href="https://snowpity.org"
        target="_blank"
        class="hover:underline underline-offset-4 flex items-center relative font-medium tracking-wide"
      >
        © 2025 HarmonyCon LLC
      </a>
      <!-- <div class="border border-r-1 rounded-lg h-6"></div>
      <a
        href="/coc"
        class="hover:underline underline-offset-4 flex items-center relative font-medium tracking-wide"
      >
        Code of Conduct
      </a> -->
    </div>
  </div>
    <div
      class="flex items-center justify-center gap-x-4 sm:gap-x-2 md:gap-x-2 lg:gap-x-3 xl:gap-x-4"
    >
      <!-- <div class="border border-r-1 rounded-lg h-6"></div> -->

      <a
        href="https://twitter.com/MareFairCon"
        target="_blank"
        class="hover:underline hover:scale-[1.3] hover:-rotate-12 p-1 rounded duration-300 underline-offset-4 flex items-center relative font-medium tracking-wide justify-center"
      >
        <img
          alt="Twitter"
          src="/images/Logo_of_Twitter.svg"
          class="w-5 h-auto xl:w-5 xl:h-auto"
        />
      </a>
      <a
        href="https://www.youtube.com/@MareFair"
        target="_blank"
        class="hover:underline hover:scale-[1.3] hover:rotate-12 p-1 rounded duration-300 underline-offset-4 flex items-center relative font-medium tracking-wide justify-center"
      >
        <img
          alt="YouTube"
          src="/images/YouTube_full-color_icon_(2017).svg"
          class="w-5 h-auto xl:w-5 xl:h-auto"
        />
      </a>
      <a
        href="https://pone.social/@MareFair/"
        target="_blank"
        class="hover:underline hover:scale-[1.3] hover:-rotate-12 p-1 rounded duration-300 underline-offset-4 flex items-center relative font-medium tracking-wide justify-center"
      >
        <img
          alt="Mastodon"
          src="/images/Mastodon_Logotype_(Simple).svg"
          class="w-5 h-auto xl:w-5 xl:h-auto"
        />
      </a>
      <a
        href="https://github.com/snowpity/"
        target="_blank"
        class="hover:underline hover:scale-[1.3] hover:rotate-12 p-1 rounded duration-300 underline-offset-4 flex items-center relative font-medium tracking-wide justify-center"
      >
        <img
          alt="GitHub"
          src="/images/Octicons-mark-github.svg"
          class="w-5 h-auto xl:w-5 xl:h-auto"
        />
      </a>
    </div>
</footer>

<style>
</style>
