---
import { Image } from "astro:assets";
const { src, href, idx, active, title = "Ponybill" } = Astro.props;
import ponybill from "../assets/2025/ponybill.png";

const isLeft = [1, 3, 6, 8].includes(idx);
const borderType = [
  "_",
  "wood",
  "black",
  "wood2",
  "wood4",
  "wood2",
  "wood4",
  "wood",
  "black",
][idx];
// const borderType = ['gold', 'black'][idx % 2];
---

<a
  style="filter: drop-shadow(0 3px 3px #000);"
  class={` ${borderType} bg-white p-4 rounded border-[10px] w-full items-center flex flex-col gap-y-1 lg:gap-y-2 duration-300 ${isLeft ? "rotate-0 hover:rotate-3 " : "-rotate-0 hover:-rotate-3 "} ${active ? "grayscale-0 cursor-pointer" : "grayscale cursor-not-allowed"} hover:scale-[1.05] hover:z-[100] relative`}
  href={active ? href : ""}
>
  <div
    style="filter: drop-shadow(0 1px 1px #000);"
    class={`w-80 relative flex flex-col rounded ${active ? "grayscale-0" : "grayscale"}`}
  >
    <div
      class="text-black bg-[#fde300] w-full h-16 font-serif uppercase flex items-center justify-center text-5xl"
    >
      {title}
    </div>
    <Image
      src={src}
      height="500"
      alt=""
      class="w-80 h-[35vh] object-cover object-top"
    />
  </div>
</a>
<style>
  .gold {
    border-image: url("/Lanyard.png") 30 30 stretch;
    border: 16px solid url("/Lanyard.png") 30 30 stretch;
  }

  .black {
    -webkit-backdrop-filter: blur(5px);
    border-color: #000000;
    /* border-image: url("/wood.jpg") 30 30 stretch;
    border: 16px solid url("/wood.jpg") 30 30 stretch; */
  }
</style>
