---
const { title } = Astro.props;
// import { ViewTransitions } from "astro:transitions";
import { getImage } from "astro:assets";
---
<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <!-- <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-MJQMMEGZ3F"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-MJQMMEGZ3F");
    </script> -->
    <meta charset="UTF-8" />
    <meta property="og:title" content="HarmonyCon 2025" />
    <meta
      property="og:description"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    />
    <meta property="og:image" content="/logo/2024.png" />
    <meta property="og:image:width" content="2244" />
    <meta property="og:image:height" content="1634" />
    <meta property="og:url" content="https://harmonycon.org" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="HarmonyCon 2025" />
    <meta property="og:image:alt" content="HarmonyCon logo" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="HarmonyCon 2025" />
    <meta
      name="twitter:description"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    />
    <meta name="twitter:image" content="/logo/2025.png" />
    <meta
      name="description"
      content="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/logo/icon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <!-- <ViewTransitions /> -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Single Day:wght@400;500;600;700"
      rel="stylesheet"
    />
  </head>
  <body
    class="m-0 p-0 h-full min-h-svh overflow-hidden"
  >
    <div class="w-full h-full bg-neutral-800 flex flex-col items-center justify-center">  
      <main id="swup">
        <slot />
      </main>
    </div>
  </body>
</html>

<style is:global>
  html {
    @apply m-0 p-0 h-full;
	--swup-overlay-theme-color: #2D2E82;
	--swup-overlay-theme-duration: .6s;
	--swup-overlay-theme-delay: .2s;
	--swup-overlay-theme-scale: 1.2;
	--swup-overlay-theme-skew: 0deg;
  }

  html.is-changing .swup-transition-overlay {
    opacity: 1;
    transition: transform var(--swup-overlay-theme-duration) var(--swup-overlay-theme-delay);
  }

  .swup-transition-overlay {
    background: linear-gradient(45deg, rgb(0,0,0), rgb(0,0,0), rgb(0,0,0));
    background-image: url('/curtain.jpg');
    background-size: contain;
  }


  .swup-transition-overlay[data-direction="to-bottom"] {
    transform: translate3d(0, calc(-1 * var(--swup-overlay-transform-y-value)), 0) skewY(var(--swup-overlay-skew-value));
  }

  html.is-animating .swup-transition-overlay[data-direction="to-bottom"] {
    transform: translate3d(0, 0, 0) skewY(var(--swup-overlay-skew-value));
  }

  html.is-rendering .swup-transition-overlay[data-direction="to-bottom"] {
    transform: translate3d(0, calc(-1 * var(--swup-overlay-transform-y-value)), 0) skewY(var(--swup-overlay-skew-value));
  }
</style>