---
const { title, desktopOverflow = false, mobileOverflow = true } = Astro.props;
import { getImage } from "astro:assets";
import Footer from "../components/Footer.astro";

const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-GHFYSZQDXC"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-GHFYSZQDXC");
    </script>
    <meta charset="UTF-8" />
    <meta property="og:title" content="HarmonyCon 2025" />
    <meta property="og:description" content="HarmonyCon 2025: Coming soon!" />
    <meta property="og:image" content="/flyer.png" />
    <meta property="og:image:width" content="4500" />
    <meta property="og:image:height" content="3000" />
    <meta property="og:url" content="https://harmonycon.org" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="HarmonyCon 2025" />
    <meta property="og:image:alt" content="HarmonyCon flyer" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="HarmonyCon 2025" />
    <meta name="twitter:description" content="HarmonyCon 2025: Coming soon!" />
    <meta name="twitter:image" content="/flyer.png" />
    <meta name="description" content="HarmonyCon 2025: Coming soon!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/logo/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700"
      rel="stylesheet"
    />

    <link
      rel="preload"
      as="image"
      href="/bar_temp1.webp"
      fetchpriority="high"
    />
    <link
      rel="preload"
      as="image"
      href="/bar_temp2.webp"
      fetchpriority="high"
    />

    <link
      rel="preload"
      href="/fonts/Latin CG Bold Regular.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
  </head>
  <body
    class="overflow-hidden m-0 h-screen bg-cover bg-center md:bg-cover md:bg-center cursor-none bg-[url('/harmonyteasermobile.webp')] md:bg-[url('/teaserfull2.webp')]"
  >
    <slot />
  </body>
</html>

<style>
  :root {
    color-scheme: dark;
  }

  @font-face {
    font-family: "Latin CG Bold";
    src: local("/fonts/Latin CG Bold Regular.otf"),
      url("/fonts/Latin CG Bold Regular.otf");
    font-weight: normal;
    font-style: normal;
  }
</style>

<script></script>
