---
const { title, desktopOverflow = false, mobileOverflow = true } = Astro.props;
// import { ViewTransitions } from "astro:transitions";
import { getImage } from "astro:assets";
import Exit from "../components/Exit.astro";
import Footer from "../components/Footer.astro";

import curtains1 from "../assets/2025/curtain_full.png";
const optimizedCurtains1 = await getImage({
  src: curtains1,
  format: "webp",
  width: 2000,
});

import curtains2 from "../assets/2025/curtain_fall2.png";
const optimizedCurtains2 = await getImage({
  src: curtains2,
  format: "webp",
  width: 2000,
});

import indexBackground from "../assets/2025/bg/stage3.png";
const optimizedIndexBackground = await getImage({
  src: indexBackground,
  format: "webp",
  width: 2000,
});

import wood1 from "../assets/2025/borders/wood.jpg";
const optimizedWood1 = await getImage({
  src: wood1,
  format: "webp",
  width: 500,
});

import wood2 from "../assets/2025/borders/dark_wood.jpg";
const optimizedWood2 = await getImage({
  src: wood2,
  format: "webp",
  width: 500,
});

import wood3 from "../assets/2025/borders/light_wood.jpg";
const optimizedWood3 = await getImage({
  src: wood3,
  format: "webp",
  width: 500,
});

import wood4 from "../assets/2025/borders/lighter_wood.jpg";
const optimizedWood4 = await getImage({
  src: wood4,
  format: "webp",
  width: 500,
});

import wood5 from "../assets/2025/borders/lightest_wood.jpg";
const optimizedWood5 = await getImage({
  src: wood5,
  format: "webp",
  width: 500,
});

const { pathname } = Astro.url;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Google tag (gtag.js) -->
    <!-- <script
      type="text/partytown"
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-MJQMMEGZ3F"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-MJQMMEGZ3F");
    </script> -->
    <meta charset="UTF-8" />
    <meta property="og:title" content="HarmonyCon 2025" />
    <meta property="og:description" content="HarmonyCon 2025: Coming soon!" />
    <meta property="og:image" content="/flyer.png" />
    <meta property="og:image:width" content="4500" />
    <meta property="og:image:height" content="3000" />
    <meta property="og:url" content="https://harmonycon.org" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="HarmonyCon 2025" />
    <meta property="og:image:alt" content="HarmonyCon flyer" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="HarmonyCon 2025" />
    <meta name="twitter:description" content="HarmonyCon 2025: Coming soon!" />
    <meta name="twitter:image" content="/flyer.png" />
    <meta name="description" content="HarmonyCon 2025: Coming soon!" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/logo/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400;500;600;700"
      rel="stylesheet"
    />

    <link
      rel="preload"
      href="/fonts/Latin CG Bold Regular.otf"
      as="font"
      type="font/otf"
      crossorigin
    />
  </head>
  <body
    class="overflow-hidden m-0 h-screen bg-cover bg-center md:bg-cover md:bg-center cursor-none bg-[url('/harmonyteasermobile.webp')] md:bg-[url('/teaserfull2.webp')]"
  >
    <slot />
  </body>
</html>

<style>
  :root {
    color-scheme: dark;
  }

  @font-face {
    font-family: "Latin CG Bold";
    src: local("/fonts/Latin CG Bold Regular.otf"),
      url("/fonts/Latin CG Bold Regular.otf");
    font-weight: normal;
    font-style: normal;
  }
</style>

<script></script>
